.header {
  padding-top: 15px;
  background-image: linear-gradient(
    to right,
    transparent 75%,
    var(--primary-accent-color) 75%,
    var(--primary-accent-color) 25%
  );
}

.logo-wrap {
  display: flex;
  justify-content: flex-start;
  color: var(--primary-accent-color);
}

.logo-icon {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  fill: currentColor;
}

.logo-text {
  width: 165px;
  height: 55px;
  fill: currentColor;
}

.main-menu {
  display: none;
}
