.hero-title {
  font-weight: var(--bold-font-weight);
  font-size: 36px;
}

.hero-location-link {
  display: block;
  color: var(--basic-light-text-color);
  background-color: var(--primary-accent-color);
}
