.hero {
  background-image: linear-gradient(
    to right,
    transparent 75%,
    var(--primary-accent-color) 75%,
    var(--primary-accent-color) 25%
  );
}

.hero .container {
  padding-bottom: 45px;
}
.hero-label {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 100px;
  line-height: 1.5;
  opacity: 0.05;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: var(--bold-font-weight);
  font-size: 36px;
}

.hero-search {
  margin-bottom: 50px;
}

.hero-search-wrap {
  position: relative;
  width: 462px;
  height: 90px;
}

.hero-search-input {
  width: 100%;
  padding: 36px 210px 36px 30px;
  outline: none;
  border: none;
  border-radius: 3px;

  &::placeholder {
    font-size: 18px;
    line-height: 5;
    text-transform: capitalize;
    color: var(--secondary-text-color);
    opacity: 0.6;
  }
}

.hero-location-link {
  display: block;
  color: var(--basic-light-text-color);
  background-color: var(--primary-accent-color);
}

.hero-slider-show-container {
  outline: 2px solid #000;
  width: 54.2121%; //878px
  overflow: hidden;
}

.hero-slider-show-track {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
