.our-services .container {
  padding-top: 60px;
}

.our-services-content-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include adaptive-for-tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
}

.our-services .accent-title {
}

.our-services .section-description {
  @include adaptive-for-tablet {
    max-width: 610px;
  }
}

.our-services-list {
  display: flex;
  flex-wrap: wrap;

  @include adaptive-for-tablet {
    position: relative;
    padding: 30px 15px;
    background-image: radial-gradient(
      var(--bg-gradient-pattern-color) 3px,
      transparent 5px
    );
    background-size: 55px 50px;
  }

  @include adaptive-for-desktop {
    flex-direction: column;
    justify-content: center;
    padding: 100px 110px;
  }
}

.our-services-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
    @include adaptive-for-tablet {
      max-width: 565px;
      margin-right: 60px;
      margin-bottom: 0;
    }

    @include adaptive-for-desktop {
      max-width: 880px;
    }
  }
}

.our-services-item-wrap {
  width: 210px;

  @include adaptive-for-desktop {
    margin-right: 150px;
  }
}

.our-services-item-title {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.our-services-item-description {
  padding-left: 5px;
  padding-right: 5px;
}

.our-services-booking {
  position: relative;

  @include adaptive-for-tablet {
    &::before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: -280px;
      display: inline-block;
      width: 82px;
      height: 16px;
      background-image: url(./../images/our-services/arrow-left-long.svg);
      background-repeat: no-repeat;
    }

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 84px;
      height: 3px;
      margin-left: 20px;
      background-color: var(--primary-accent-color);
    }
  }
}

.our-services-opening-hours {
  position: relative;

  @include adaptive-for-tablet {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 84px;
      height: 3px;
      margin-right: 20px;
      background-color: var(--primary-accent-color);
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: -110px;
      display: inline-block;
      width: 82px;
      height: 16px;
      background-image: url(./../images/our-services/arrow-right-long.svg);
      background-repeat: no-repeat;
    }
  }
}

.opening-hours {
}

.our-services-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 271px;
  height: 275px;
  background-color: var(--secondary-bg-color);

  @include adaptive-for-desktop {
    width: 390px;
    height: 380px;
  }
}

.our-services-delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 462px;
  min-height: 550px;
  margin: 0 auto;
  background-color: var(--secondary-bg-color);

  @include adaptive-for-tablet {
    position: absolute;
    top: 30px;
    right: 15px;
  }

  @include adaptive-for-desktop {
    top: 110px;
    right: 110px;
    width: 670px;
    height: 758px;
  }
}

.our-services-icon {
  fill: var(--primary-accent-color);
}

.people-at-the-table-icon {
  width: 112px;
  height: 112px;
}

.plate-cutlery-icon {
  width: 147px;
  height: 112px;
}

.moto-bike-icon {
  width: 212px;
  height: 160px;
  margin-bottom: 40px;
}

.our-services-delivery-title {
  max-width: 245px;
  margin-bottom: 20px;
}

.our-services-delivery-text {
  width: 200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: var(--primary-accent-color) solid 3px;
}
