.logo-1 {
  width: 200px;
  height: 200px;
  outline: blueviolet 2px solid;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
