body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 1.714;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.img-wrap {
  position: relative;
  overflow: hidden;
}

// p {
//   margin-top: 0;
//   // margin-bottom: 0;
// }

.title {
  margin-top: 0;
  font-size: 24px;
  line-height: 1.333;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.section-title {
  font-weight: var(--medium-font-weight);
  font-size: 36px;
}

.accent-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &::before {
    content: '';
    width: 12px;
    height: 100px;
    margin-right: 20px;
    background-color: var(--primary-accent-color);

    @include adaptive-for-tablet {
      content: '';
      width: 25px;
      height: 140px;
    }
  }

  @include adaptive-for-tablet {
    font-size: 48px;
    line-height: 1.292;
  }
}

.section-description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 32px;
}

.description-title {
  font-weight: var(--medium-font-weight);
  margin-bottom: 0;
}

.input-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
