.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  outline: 3px solid rgb(223, 46, 15);
  // @include adaptive-for-phone {
  //   width: $phone;
  // }

  @include adaptive-for-tablet {
    width: $tablet;
    padding: 0 15px;
  }

  @include adaptive-for-desktop {
    width: $desktop;
  }
}
